@import './variables';

body {
  margin: 0;
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
}

.checkOutContainer {
  padding: 30px;
  margin-top: 20px;
  width: 900px;
  .backToCart {
    background-color: rgb(255, 255, 255);
    padding: 10px 25px;
    color: rgba(0, 0, 0, 0.87);
    box-shadow: $box-shadow;
    cursor: pointer;
    margin: 15px 0px;
  }
  .checkOut {
    background-color: aliceblue;
    box-shadow: $box-shadow;
    .orderStatus {
      padding: 16px;
      align-items: center;
      justify-content: space-between;
      .orderTitle {
        font-size: 23px;
      }
      .totalItems {
        font-size: 18px;
        color: rgba(0, 0, 0, 0.54);
      }
    }
    .orderDetails {
      .checkOutItems,
      .totalValue {
        display: flex;
        padding: 16px;
        justify-content: space-between;
        align-items: center;
        font-weight: bold;
      }
      .bottomLine {
        width: 875px;
        margin: 0 15px;
      }
    }
  }
  .placeOrder {
    background-color: blue;
    color: white;
    margin: 15px 0px;
    padding: 10px 35px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
  }
}

.fade {
  opacity: 0.4;
}
.show {
  opacity: 1;
}
