#title {
  display: flex;
  justify-content: space-between;
  padding: 0px 35px;
  height: 64px;
  align-items: center;
  background-color: #3f51b5;
  color: white;
  span{
    font-size: 22px;
  }
  .link {
    display: flex;
    
    .icon {
      font-size: 20px;
    }
    a, .user {
      color: white;
      margin: 0px 15px;
      padding: 14px;
      text-decoration: none;
      cursor: pointer;
    }
    .notification {
      position: absolute;
      top: 11px;
      right: 171px;
      display: inline;
      width: 17px;
      height: 17px;
      background-color: red;
      border-radius: 25px;
      text-align: center;
      font-size: 15px;
      display: flex;
      justify-content: center;
      align-self: center;
    }
  }
}
