#title {
  display: flex;
  justify-content: space-between;
  padding: 0px 80px;
  height: 64px;
  align-items: center;
  background-color: #3f51b5;
  color: white;
  a {
    color: white;
    margin: 0px 15px;
    padding: 14px;
    text-decoration: none;
  }
  .notification {
    position: absolute;
    top: 16px;
    display: inline;
    width: 16px;
    height: 16px;
    background-color: red;
    border-radius: 25px;
    text-align: center;
    font-size: 15px;
  }
}
