#modal {
  position: absolute;
  top: 37%;
  left: 39%;
  height: 110px;
  width: 350px;
  background: white;
  border: 1px solid #ccc;
  transition: 1.1s ease-out;
  box-shadow: -2rem 2rem 2rem rgba(0, 0, 0, 0.2);
  filter: blur(0);
  transform: scale(1);
  opacity: 1;
  visibility: visible;
  .content {
    display: flex;
    justify-content: center;
    font-size: 20px;
    padding: 1rem;
  }
  .actions {
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: flex-end;
    button {
      font-size: 16px;
      border: 0;
      background: white;
      color: blue;
      border-radius: 5px;
      padding: 0.5rem 1rem;
      line-height: 1;
      cursor: pointer;
    }
  }
}
