#card {
  color: rgba(0, 0, 0, 0.87);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background-color: #fff;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  overflow: hidden;
  width: 315px;
  height: 320px;
  margin-right: 20px;
  margin-top: 15px;
  .title {
    display: flex;
    padding: 16px;
    font-size: 20px;
    align-items: center;
  }
  .image {
    height: 150px !important;
    background-repeat: no-repeat !important;
    background-size: auto !important;
    background-position: center !important;
  }
  .aboutBrand {
    padding: 16px;
    font-size: 18px;
  }
  .addToCard {
    display: flex;
    justify-content: center;
    .addToCart {
      height: 32px;
      width: 96%;
    }
    .customize {
      width: 96%;
      justify-content: space-evenly;
      .add, .remove {
        height: 32px;
        width: 55px;
      }
      .quantity{
        display: flex;
        justify-content: center;
        align-self: center;
      }
    }
  }
}
