@import "./variables";

#card {
  color: rgba(0, 0, 0, 0.87);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background-color: #fff;
  box-shadow: $box-shadow;
  overflow: hidden;
  width: 315px;
  height: 320px;
  margin-right: 20px;
  margin-top: 15px;
  .title {
    display: flex;
    padding: 16px;
    font-size: 20px;
    align-items: center;
  }
  .image {
    @include image;
    width: auto;
  }
  .aboutBrand {
    padding: 16px;
    font-size: 18px;
  }
  .addToCard {
    display: flex;
    justify-content: center;
    .show {
      display: block;
      height: 32px;
      width: 96%;
    }
    .hide {
      display: none;
    }
    .customize {
      .show {
        display: flex;
        width: 96%;
        justify-content: space-evenly;
        .add,
        .remove {
          @include addRemoveButton;
        }
        .quantity {
          display: flex;
          justify-content: center;
          align-self: center;
          padding: 0px 30px;
        }
      }
      .hide {
        display: none;
      }
    }
  }
}
