@import "./variables";

.cart {
  margin: 10px;
  .backButton {
    background-color: rgb(255, 255, 255);
    padding: 10px 25px;
    color: rgba(0, 0, 0, 0.87);
    box-shadow: $box-shadow;
    cursor: pointer;
  }
  .shoppingCart {
    width: 65%;
    box-shadow: $box-shadow;
    .displayCart {
      padding: 20px 30px;
      .totalNum {
        font-size: 22px;
        align-self: center;
      }
      .cartTitle {
        display: flex;
        justify-content: space-between;
        padding: 10px 0;
      }
      .cartTable {
        width: 100%;
        overflow-x: auto;
        table {
          width: 100%;
          display: table;
          border-spacing: 0;
          border-collapse: collapse;
          th {
            font-weight: 100;
            padding: 20px 0px;
          }
          tr {
            border-bottom: 1px solid rgba(0, 0, 0, 0.29);
          }
          td {
            text-align: center;
            padding: 20px 0px;
            .remove,
            .add {
              @include addRemoveButton;
              margin: 0 10px;
            }
            .image {
              @include image;
            }
          }
        }
        .status {
          height: 50px;
          display: flex;
          align-items: center;
          background-color: rgb(232, 244, 253);
          color: rgb(13, 60, 97);
          padding: 0 15px;
        }
      }
    }
  }
  .checkOut {
    background-color: blue;
    color: white;
    margin: 10px 0px;
    padding: 10px 35px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    display: block;
  }
  .hide {
    display: none;
  }
}
